version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: base-api-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - base-api-network

  postgres:
    image: postgres:16-alpine
    container_name: base-api-postgres
    environment:
      POSTGRES_DB: baseapi
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1q2w3e
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d baseapi"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - base-api-network

  wiremock:
    image: wiremock/wiremock:3.3.1-alpine
    container_name: base-api-wiremock
    ports:
      - "8090:8080"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
      - ./wiremock/__files:/home/wiremock/__files
    command: ["--verbose"]
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8080/__admin/health"]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - base-api-network

volumes:
  redis-data:
    driver: local
  postgres-data:
    driver: local

networks:
  base-api-network:
    driver: bridge
